@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    direction: rtl;
    font-family: "Rubik", sans-serif;
    background: #aea54c;
}

h1 {
    text-align: center;
    color: #ffffff;
}
img {
    width: 500px;
    display: block;
}

a {
    /* מצב תצוגה משולב - של בלוק ובשורה */
    display: inline-block;
    /* ריווח פנימי */
    padding: 12px;
    /* רקע */
    background-color: #da6725;
    /* צבע טקסט */
    color: white;
    /* ביטול הקו התחתון */
    text-decoration: none;
    /* עיגול קצוות */
    border-radius: 11px;
    /* ריווח חיצוני */
    margin: 16px 3px;
    transition: 0.3s;
}

a:hover {
    scale: 1.2;
    background-color: #f7955c;
}

a:active {
    background-color: #b64300;
}

div {
    background-color: white;
    max-width: 90%;
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}